.scroll-to-top {
  position: fixed;
  bottom: 13px;
  right: 13px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

 .button {
   background-color: #0099e6;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   background-image: url("../../../assets/images/arrows-up800.png");
   background-size: cover;
   background-repeat: no-repeat;
   //filter: invert(100%);

   &:hover{
     cursor: pointer;
   }
 }


