<div class="container">
  <div class="main">
    <section class="split">
      <div class="screen">
        <button class="back" (click)="goBack()"></button>
        <div class="card">
          <div class="imageBox" [ngStyle]="{'background-image': 'url(' + countryDetails.flag + ')'}">
          </div>

          <div class="mainName">
            {{calculateTime(countryDetails.timezone)}}
          </div>
        </div>
      </div>
      <div class="screen2">
        <div class="card2">
          <div class="imageBox2">
            <table>
              <thead>
                <tr>
                  <th colspan="2">{{'country-details' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="attribute">
                    {{'country-name' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.countryName != ''; else elseBlock2">{{countryDetails.countryName}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'capital' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.capital != ''; else elseBlock2">{{countryDetails.capital}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'region' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.region != ''; else elseBlock2">{{countryDetails.region}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'population' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.population > 0; else elseBlock2">
                      {{countryDetails.population.toLocaleString()}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'latitude' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.latitude != null; else elseBlock2">{{countryDetails.latitude}}°</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'longitude' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.longitude != null; else elseBlock2">{{countryDetails.longitude}}°
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'currency-code' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.currenciesCode != null; else elseBlock2">
                      {{countryDetails.currenciesCode}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'currency-name' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.currenciesName != null; else elseBlock2">
                      {{countryDetails.currenciesName}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'currency-symbol' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.currenciesSymbol != null; else elseBlock2">
                      {{countryDetails.currenciesSymbol}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'borders' | translate}}:
                  </td>
                  <td class="value">
                    <div *ngIf="countryDetails.borders.length != 0; else elseBlock">{{countryDetails.borders}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="attribute">
                    {{'calling-codes' | translate}}:
                  </td>
                  <td class="value">
                    <div
                      *ngIf="countryDetails.callingCodes != '' && countryDetails.callingCodes.length != 0; else elseBlock2">
                      {{countryDetails.callingCodes}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <ng-template #elseBlock>{{'no-borders' | translate}}</ng-template>
    <ng-template #elseBlock2>{{'no-data-available' | translate}}</ng-template>
  </div>
</div>
