<div class="container">
<app-country-details-card *ngFor="let countryDetail of countryDetails" 
    [flagx]="countryDetail.flag" 
    [countryNamex]="countryDetail.countryName"
    [capitalx]="countryDetail.capital"
    [regionx]="countryDetail.region"
    [populationx]="countryDetail.population"
    [latitudex]="countryDetail.latitude"
    [longitudex]="countryDetail.longitude"
    [currenciesCodex]="countryDetail.currenciesCode"
    [currenciesNamex]="countryDetail.currenciesName"
    [currenciesSymbolx]="countryDetail.currenciesSymbol"
    [bordersx]="countryDetail.borders"
    [callingCodesx]="countryDetail.callingCodes"> 
</app-country-details-card>
</div>