.container{
  margin: 0;
  padding: 0;
}

section{
  position: relative;
  height: 100vh;
  display: flex;


  .screen{
    position: relative;
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e4e4e4;

    .back{
      position: fixed;
      background-color: #0099e6;
      background-image: url("../../../assets/images/arrows-up800.png");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(270deg);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      top: 80px;
      left: 20px;

      &:hover{
        cursor: pointer;
      }
    }

    .card{
      max-width: 600px;
      text-align: center;
      justify-content: center;
      .imageBox{
        overflow: hidden;

        img{
          width: 600px;
          height: 400px;
          text-align: center;
        }

      }
    }
   }

  .screen2{
    position: relative;
    flex-grow: 1;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    //background-color:#0099e6;
    background: linear-gradient(to bottom, #0099e6, #3abdff);
    //background: radial-gradient(#0099e6, #3abdff);

    .card2{
      text-align: left;
      justify-content: center;

      table{
        align-self: center;
        color: white;
        font-family: 'Roboto', sans-serif;
      }

      th{
        text-align: center;
      }
    }

  }
}

section {
  .screen2:hover{
    flex-grow: 5;
  }
}

@media only screen and (max-width: 600px){
  section{
    display: flex;
    flex-direction: column;
    .screen .card .imageBox img{
      width: 300px;
      height: 200px;
      padding-top: 60px;
      align-self: center;
    }
    .screen2{
      overflow: auto;
    }

  }
}
