<div class="main">
<div class="flagContainer">
<img [src]="flagx" class="flag">
</div>
<div class="detailsContainer">
<div class="countryName">{{countryNamex}}</div>
<div class="capital">{{capitalx}}</div>
<div class="region">{{regionx}}</div>
<div class="population">{{populationx.toLocaleString()}}</div>
<div class="latitude">{{latitudex}}</div>
<div class="longitude">{{longitudex}}</div>
<div class="currencies">{{currenciesCodex}}</div>
<div class="currencies">{{currenciesNamex}}</div>
<div class="currencies">{{currenciesSymbolx}}</div>
<div class="borders">{{bordersx}}</div>
<div class="callingCodes">{{callingCodesx}}</div>
</div>
</div>