body{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    min-height: 100vh;
    border-style: groove;
    border-color: green;
    height: 100%;
}

.main{
    display: flex;
    flex: 1;
    align-content: stretch;

    .flagContainer{
    display: flex;
    border-radius: 20%;
    justify-content: left;
    padding: 20px;

        .flag{
            height: 520px;
            width: 520px;
        }
    }
}

table{
  align-self: center;
  width: 100%;
  border-collapse: collapse;
}

th{
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

td{
  color: whitesmoke;
  padding: 6px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
